<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1000HelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>A/B.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>HelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Min_Max_Sum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>X cubic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>circle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>circle_in_rectangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>divisors_count.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>print_frame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>print_rec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>print_test_cases.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>print_test_cases1.5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>range.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>rectangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>simple_calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>small_large.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>sort3number.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>swapping2numbers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>swapping2numbers1.5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F13E9C620B0343300CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13E9D120B037DE00CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13E9DC20B039B200CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13E9E720B03D8E00CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13E9F220B03FAD00CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13E9FD20B04CD100CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13EA0820B0541400CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13EA1320B1734800CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13EA1E20B1B86600CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13EA2920B2434000CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13EA3420B25BF100CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13EA3F20B2623200CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13EA4A20B2630F00CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13EA5520B268F700CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F2B093D20AA5EBA00203FF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5ACC120B33184003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5ACCC20B36F9D003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5ACD720B4E9F4003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5ACE220B51C86003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5ACED20B52B96003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
