<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1000HelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>A/B.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>HelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Min_Max_Sum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>X cubic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>card_game.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>circle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>circle_in_rectangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>counting_characters.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>distance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>divisors_count.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>finding_missing_cards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>finding_missing_cards1.5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>finding_word.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>grading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>how_many_ways.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>how_many_ways1.5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>matrix_multiprication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>matrix_vector_multiplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>official_house.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>print_chessboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>print_frame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>print_rec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>print_test_cases.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>print_test_cases1.5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>range.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>rectangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>reversing_numbers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>ring.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>shuffle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>simple_calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>small_large.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>sort3number.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>spreadsheet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>spreadsheet1.5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>standard_deviation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>structured_programing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>sum_of_numbers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>swapping2numbers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>swapping2numbers1.5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>toggling_cases.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>transformation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>triangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F13E9C620B0343300CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13E9D120B037DE00CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13E9DC20B039B200CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13E9E720B03D8E00CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13E9F220B03FAD00CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13E9FD20B04CD100CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13EA0820B0541400CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13EA1320B1734800CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13EA1E20B1B86600CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13EA2920B2434000CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13EA3420B25BF100CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13EA3F20B2623200CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13EA4A20B2630F00CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F13EA5520B268F700CAA958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F2B093D20AA5EBA00203FF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F5D1E3720BB35AF005E1775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F5D1E4220BB7CA3005E1775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F5D1E4D20BB7D46005E1775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F5D1E5820BBA6A9005E1775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F5D1E6320BC43FA005E1775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F5D1E6E20BC5977005E1775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F5D1E7920BC66FB005E1775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F5D1E8420BC6E9E005E1775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5ACC120B33184003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5ACCC20B36F9D003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5ACD720B4E9F4003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5ACE220B51C86003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5ACED20B52B96003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5ACF820B7A762003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5AD0320B7B0A2003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5AD0E20B7D1DF003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5AD1920B7E175003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5AD2420B9A756003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5AD2F20BA450B003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5AD3A20BA59D1003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5AD4520BA6DF6003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5AD5020BAC439003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5AD5B20BAD870003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5AD6620BAEEF2003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5AD7120BB05C7003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5AD7C20BB0BFC003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5AD8720BB1D7C003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5AD9220BB240F003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF5AD9D20BB2A87003C9682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
